<!DOCTYPE html>
<html>
  <head>
    <title>Miyano Shiho | <%= current_tag || "home" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/default.css" type="text/css">
  </head>
  <body>
    <main class="note-wrapper">
      <nav>
        <a href="/">#</a>
        <% tags.each do |subtag, count| %>
	        <% if current_tag %>
	          <a href="/tag/<%= current_tag + "/" + subtag %>/"># <%= subtag %></a>
	        <% else %>
	          <a href="/tag/<%= subtag %>/"># <%= subtag %></a>
	        <% end %>
        <% end %>
      </nav>
      <article>
      <% posts.each do |post| %>
        <div class="post">
          <div class="title"><a href=<%= post.url.inspect%> ><%= post.title %></a></div>
          <div class="date"><%= post.date %></div>
        </div>
      <% end %>
      </article>
    <main/>
    <footer></footer>
  </body>
<html>
